<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--jmx文件名-->
    <add key="jmx_name" value="1V1_WebSocket" />
    <!--起始标识值-->
    <add key="index" value="1" />
    <!--生成.bat数量（8G电脑建议20，16G电脑建议30）-->
    <add key="bat_number" value="20" />
    <!--Jmeter启动命令（内置参数: %JMX_NAME% 脚本名称 %d%启动时间 %index%起始标识值）-->
    <add key="jmeter_cmd" value="call jmeter -Jroom_index=%index%10000 -Jid_index=%index%1000 -Jteacher_id_index=%index%2000 -n -t %JMX_NAME%.jmx -l ./%d%/Jtl/%JMX_NAME%.csv -j %d%/jmeter.log -e -o ./%d%/Report"/>
    <!--VBScript中启动.bat文件间隔时间-->
    <add key="bat_delay" value="1000" />
  </appSettings>
</configuration>